#div1 {
border-style: dotted; 
border-color: blue
width:5px;
height:12px;
display:table-cell;
  	vertical-align:middle;
}
#div2 {
border-style: groove; border-color: red
vertical-align:middle;
}
#div3 {
border-style: outset; border-color: green
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 10px;
}

#div1 {

}

#div2 {
  grid-column: 1;
  grid-row: 1 / 3;
}

#div3 {
  grid-row: 2;
  grid-column: 3;
}